<h1><%= @user.name %></h1>

<h3><%= "List of Events Created:" %></h3>
<% if @user.created_events.empty? %>
  <p><%= @user.name %> have not created any event.</p>
<% else %>
  <ul>
    <% @user.created_events.each do |event| %>
      <li>
        <%= link_to event.name, event_path(event) %>
      </li>
    <% end %>
  </ul>
<% end %>

<p><%= link_to "Create Event", new_event_path %></p>

<h3><%= "Upcoming Events:" %></h3>
<% if !@user.attended_events.upcoming.exists? %>
  <p><%= @user.name %> are not attending any event.</p>
<% else %>
  <ul>
    <% @user.attended_events.upcoming.each do |event| %>
      <li>
        <%= link_to event.name, event_path(event) %>
      </li>
    <% end %>
  </ul>
<% end %>

<h3><%= "Previously Attended Events:" %></h3>
<% if !@user.attended_events.past.exists? %>
  <p><%= @user.name %> have not attended any event.</p>
<% else %>
  <ul>
    <% @user.attended_events.past.each do |event| %>
      <li>
        <%= link_to event.name, event_path(event) %>
      </li>
    <% end %>
  </ul>
<% end %>