<h3>Event Name: <%= @event.name %></h3>

<p>Event creator: <%= @event.creator.name %></p>
<p>Event date: <%= @event.date %></p>
<p>Event location: <%= @event.location %></p>
<p>Event description: <%= @event.description %></p>